{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Naman Goyal</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/analytics.png' %}" rel="icon" />
    <link
      href="{% static 'assets/img/web-development.png' %}"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <header id="header">
      <div class="d-flex flex-column">
        <div class="profile">
          <img
            src="{% static 'assets/img/profile-img-me5.jpg' %}"
            alt=""
            class="img-fluid rounded-circle"
          />
          <h1 class="text-light">Naman Goyal</h1>
          <div class="social-links mt-3 text-center">
            <a
              href="https://twitter.com/Naman46292579"
              target="_blank"
              class="twitter"
              ><i class="bx bxl-twitter"></i
            ></a>
            <a
              href="https://www.facebook.com/profile.php?id=100071084651447"
              target="_blank"
              class="facebook"
              ><i class="bx bxl-facebook"></i
            ></a>
            <a
              href="https://www.instagram.com/naman_._goyal/"
              target="_blank"
              class="instagram"
              ><i class="bx bxl-instagram"></i
            ></a>
            <a
              href="https://github.com/Naman82"
              target="_blank"
              class="google-plus"
              ><i class="bx bxl-github"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/naman-goyal-b02667216/"
              target="_blank"
              class="linkedin"
              ><i class="bx bxl-linkedin"></i
            ></a>
          </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
          <ul>
            <li>
              <a href="#hero" class="nav-link scrollto active"
                ><i class="bx bx-home"></i> <span>Home</span></a
              >
            </li>
            <li>
              <a href="#about" class="nav-link scrollto"
                ><i class="bx bx-user"></i> <span>About</span></a
              >
            </li>
            <li>
              <a href="#resume" class="nav-link scrollto"
                ><i class="bx bx-file-blank"></i> <span>Resume</span></a
              >
            </li>
            <li>
              <a href="#portfolio" class="nav-link scrollto"
                ><i class="bx bx-book-content"></i> <span>Portfolio</span></a
              >
            </li>
            <li>
              <a href="#services" class="nav-link scrollto"
                ><i class="bx bx-server"></i> <span>Services</span></a
              >
            </li>
            <li>
              <a href="#contact" class="nav-link scrollto"
                ><i class="bx bx-envelope"></i> <span>Contact</span></a
              >
            </li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section
      id="hero"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <div class="hero-container mx-5" data-aos="fade-in">
        <h1 style="font-weight: 450">NAMAN GOYAL</h1>
        <p style="margin-top: 10px">
          I'm a&nbsp;<span
            style="font-weight: 500"
            class="typed"
            data-typed-items="Full Stack Web-Developer, Blockchain-Developer, Freelancer, Student"
          ></span>
        </p>
      </div>
    </section>

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="section-title">
            <h2>About</h2>
            <p>
              Hey there! My name is Naman Goyal. I am from Karnal,Haryana and
              completed my Secondary Schooling from Dyal Singh Public School,
              Karnal.I'm a Computer Engineering undergrad of Batch 2020-2024
              from IIIT Bhubaneshwar.
            </p>
          </div>

          <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
              <img
                src="{% static 'assets/img/profile-img-me.jpg' %}"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
              <h3>Web Developer &amp; Flutter Developer.</h3>
              <p class="fst-italic">
                I am FULL STACK DEVELOPER. I have completed backend in DJANGO
                and still learning ANGULAR  and I am a newbie at FLUTTER.
              </p>
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Birthday:</strong> <span>2 April 2002</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Profession:</strong> <span>Student</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Phone:</strong> <span>+91 8307541411</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>City:</strong> <span>Karnal, Haryana</span>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li>
                      <i class="bi bi-chevron-right"></i> <strong>Age:</strong>
                      <span>19</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Degree:</strong> <span>B.Tech | CE</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Email:</strong> <span>b520031@iiit-bh.ac.in</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>College:</strong> <span>IIIT,BBSR</span>
                    </li>
                  </ul>
                </div>
              </div>
              <p>
                I am currently a Computer Engineering undergrad at International
                Institute of Information Technology, Bhubaneshwar.I am Full
                Stack Web Developer, I learnt programming languages C, C++,
                Python and Javascript. I am still learning Angular  and
                completed my Backend using Django framework.I’m currently
                learning flutter. As I am newbie to the world of Developers , I
                am still gaining experience and excited to collaborate on web
                projects.After technology, music fascinates me the most. Along
                with spending time in technological world, I love to enjoy great
                musical works in my leisures.
              </p>
            </div>
          </div>
        </div>
      </section>
    <!-- ======= Resume Section ======= -->
      <section id="resume" class="resume">
        <div class="container">
          <div class="section-title">
            <h2>Resume</h2>
            <p>
              An Enthusiastic Engineering fresher who is a self-starter and
              capable to use technical skills for the betterment of the
              organization.Looking forward to work in a competitive environment
              that enhances overall learning.
            </p>
          </div>

          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
              <h3 class="resume-title"> Professional Experience</h3>
              <div class="resume-item">
                <h4>Python Django Intern</h4>
                <h5>Across The Globe (ATG)</h5>
                <p><em class="mx-2"> Aug 2022 - Jan 2023</em></p>
                <ul>
                  <li>
                    Designed a Casa Arch website which connects clients with the
                    Architects
                  </li>
                  <li>
                    Developed an full fledged working implementation beneficial for the
                    Architects and Clients.
                  </li>
                  <li>
                    Worked as a Backend Developer, developed various APIs using Django REST Framework.
                  </li>
                  <li>
                   Lead the project as a Backend Developer and assist the other backend developer.
                  </li>
                </ul>
              <!-- </div> -->
              </div>
              <div class="resume-item">
                <h4>Full Stack Developer</h4>
                <h5>Freelance Project</h5>
                <p><em class="mx-2"> S.H.M. Classes</em></p>
                <ul>
                  <li>
                    A static website for the Educational Institute promoting and marketing its brand.
                  </li>
                  <li>
                    Response submitted by users in forms are directly received as an E-mail
                    by the owner/manager of the organization.
                  </li>
                  <li>
                    This website is developed using Django framework and Bootstrap.
                  </li>
                </ul>
              </div>

              <!-- <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                
              </div>
              <div class="resume-item">
               
              </div> -->
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Bachelor of Technology </h4>
                <h5>Computer Engineering</h5>
                <h6><em>International Institute of Information Technology,
                  Bhubaneshwar, Orissa</em></h6>
                <p><small>December 2020 - June 2024</small></p>
                <p><small>CGPA - 8.10</small></p>
                <p>
                  I secured seat in IIIT BBSR through JOSSA
                  Counselling.Currently a Computer Engineering undergrad. I
                  secured 8.10 CGPA and I'm currently in third year.
                </p>
                <br>
              </div>
              <div class="resume-item">
                <h4>Secondary Education</h4>
                <h5>Class X in CBSE</h5>
                <h6><em>Dyal Singh Public School, Sec-7, Karnal</em></h6>
                <p><small>April 2017 – May 2018 </small></p>
                <p><small>Percentage : 96.60%</small></p>
                <br>
                <h5>Class XII in CBSE</h5>
                <h6><em>Dyal Singh Public School, Sec-7, Karnal</em></h6>
                <p><small>April 2019 – May 2020</small></p>
                <p><small>Percentage : 95.40%</small></p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- <div class="text-center">
        <button class="btn btn-primary">Download Resume</button>
      </div> -->

      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Portfolio</h2>
            <p>
              Projects are the ornaments of any developer. Learning process is
              incomplete without implementing the learnt. Doing projects on the
              topics we have learnt is the best way of implementation of
              theoretical knowledge gained. As quotes of past also say, "
              Knowledge is not power, Implementation of knowledge is power". So
              here are some of my implementation
            </p>
          </div>

          <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-card">Card</li>
                <li data-filter=".filter-web">Web</li>
              </ul>
            </div>
          </div>

          <div
            class="row portfolio-container"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  style="height: 254px"
                  src="{% static 'assets/img/portfolio/travel.jpg' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="{% static 'assets/img/portfolio/travel.jpg' %}"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Travel Website"
                    ><i class="bx bx-plus"></i
                  ></a>
                  <a
                    href="https://github.com/Naman82/Travel-Website"
                    target="_blank"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img
                  style="height: 254px"
                  src="{% static 'assets/img/portfolio/2.jpeg' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="{% static 'assets/img/portfolio/2.jpeg' %}"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Analog Clock"
                    ><i class="bx bx-plus"></i
                  ></a>
                  <a
                    href="https://github.com/Naman82/Analog-Clock"
                    target="_blank"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  style="height: 254px"
                  src="{% static 'assets/img/portfolio/3.jpeg' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="{% static 'assets/img/portfolio/3.jpeg' %}"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Journey Book"
                    ><i class="bx bx-plus"></i
                  ></a>
                  <a
                    href="https://github.com/HarshRajGupta/HarbourX"
                    target="_blank"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  style="height: 254px"
                  src="{% static 'assets/img/portfolio/4.png' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="{% static 'assets/img/portfolio/4.png' %}"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Tic-Tac-Toe"
                    ><i class="bx bx-plus"></i
                  ></a>
                  <a
                    href="https://github.com/Naman82/TIC-TAC-TOE"
                    target="_blank"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  style="height: 254px"
                  src="{% static 'assets/img/portfolio/5.png' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="{% static 'assets/img/portfolio/5.png' %}"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="CodOctober Hackathon"
                    ><i class="bx bx-plus"></i
                  ></a>
                  <a
                    href="https://github.com/Simron-Bhuyan/Cuvette-Hackathon-Learning-web"
                    target="_blank"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  style="height: 254px"
                  src="{% static 'assets/img/portfolio/6.png' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="{% static 'assets/img/portfolio/6.png' %}"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="The Saffron Restaurant Website"
                    ><i class="bx bx-plus"></i
                  ></a>
                  <a
                    href="https://github.com/Naman82/Restaurant-website"
                    target="_blank"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  style="height: 254px"
                  src="{% static 'assets/img/portfolio/7.png' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="{% static 'assets/img/portfolio/7.png' %}"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Calculator"
                    ><i class="bx bx-plus"></i
                  ></a>
                  <a
                    href="https://github.com/Naman82/Calculator"
                    target="_blank"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img
                  style="height: 254px"
                  src="{% static 'assets/img/portfolio/11.png' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="{% static 'assets/img/portfolio/11.png' %}"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Word Counter | Python"
                    ><i class="bx bx-plus"></i
                  ></a>
                  <a
                    href="https://github.com/Naman82/Word-Counter"
                    target="_blank"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img
                  style="height: 254px"
                  src="{% static 'assets/img/portfolio/9.png' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="{% static 'assets/img/portfolio/9.png' %}"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Login Card"
                    ><i class="bx bx-plus"></i
                  ></a>
                  <a
                    href="https://github.com/Naman82/Login-Card"
                    target="_blank"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">
          <div class="section-title">
            <h2>Services</h2>
            <p>
              A Team of cheerful, calm and supportive members who are always
              ready to give something new and inspirational to the society which
              adds value in their lives. Client's satisfaction is our utmost
              priority.
            </p>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="">Customer Collaboration</a></h4>
              <p class="description">
                We build single page websites using Angular with full
                interaction with client using agile approach.
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Website Development</a></h4>
              <p class="description">
                We make websites which are fast ,efficient, secure and scalable
                using MEAN Stack.
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
              <h4 class="title"><a href="">Frontend Development</a></h4>
              <p class="description">
                We build attractive templates showing responsive behaviour using
                HTML, CSS and Javascript.
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="icon"><i class="bi bi-binoculars"></i></div>
              <h4 class="title"><a href="">Backend Development</a></h4>
              <p class="description">
                We provide a strong backend service using node, express and
                mongodb with full authentication and authorization.
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="icon"><i class="bi bi-brightness-high"></i></div>
              <h4 class="title"><a href="">API Development</a></h4>
              <p class="description">
                We provide Api's according to your needs which can ease your
                website development process especially for frontend developers.
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              <h4 class="title"><a href="">Mobile App Development</a></h4>
              <p class="description">
                We Create beautiful mobile applications for both iOS and Android
                using Flutter.
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="section-title">
            <h2>Contact</h2>
            <p>
              You can contact me through the links given in sidebar menu.The
              number provided in the contact section is also available on
              Whatsapp.Your message will surely be replied.Feel free to ask your
              queries.
            </p>
          </div>

          <div class="row" data-aos="fade-in">
            <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>Karnal-132001, U.E., Haryana</p>
                </div>

                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>b520031@iiit-bh.ac.in</p>
                </div>

                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>(+91) 8307541411</p>
                </div>

                <iframe
                  width="100%"
                  height="400px"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"
                  src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Sector-7,%20Karnal,Haryana+(My%20Business%20Name)&amp;t=k&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                ></iframe>

              </div>
            </div>
            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
              <form action="{% url 'index' %}" method="post"  class="php-email-form">
                {% csrf_token %}
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">Your Name</label>
                    <input type="text" name="name" class="form-control" id="name" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Your Email</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Subject</label>
                  <input type="text" class="form-control" name="subject" id="subject" required>
                </div>
                <div class="form-group">
                  <label for="name">Message</label>
                  <textarea class="form-control" name="message" rows="10" required></textarea>
                </div>
                <!-- <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div> -->
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Naman</span></strong>
        </div>
        <div class="credits">Designed by Naman✨</div>
      </div>
    </footer>

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/typed.js/typed.min.js' %}"></script>
    <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
    <!-- <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script> -->

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
